@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --base-padding: 20px;
  --border-color-regular: rgba(0, 0, 0, 0.1);
  --text-color-extra-light: rgba(0, 0, 0, 0.2);
  --text-color-light: rgba(0, 0, 0, 0.4);
  --text-color-medium: rgba(0, 0, 0, 0.6);
  --text-color-dark: rgba(17, 17, 17, 1);
  --text-color-regular: rgba(4, 4, 4, 1);
}
body {
  padding: 0 80px;
  font-family: "Inter", sans-serif;
  background-color: #fffefc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 74px;
  font-weight: 669;
}
h2 {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 430;
  color: var(--text-color-medium);
  line-height: 1.55;
}

nav a {
  font-weight: 544;
}
nav .hover-context {
  padding: 4px 8px;
}
nav .hover-context:hover {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.03);
}
nav .subtab-header {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 544;
}
nav .subtab-description {
  line-height: 1.5;
  font-weight: 430;
  font-size: 14px;
  color: var(--text-color-medium);
}
nav > a {
  padding-left: 10px;
  padding-right: 24px;
}
nav .segment-header,
.small-header {
  color: var(--text-color-medium);
  font-size: 11px;
  font-weight: 544;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
nav .segment-container {
  min-width: 180px;
  padding: 4px 8px;
}
nav .segment-container:first-child {
  min-width: 300px;
}
nav .segment-container:not(:first-child) {
  border-left: 1px solid var(--border-color-regular);
}
nav .segment-container .hover-context {
  padding: 4px 0;
}
.hidden {
  display: none;
}
nav .nav-tabs {
  height: 30px;
  display: flex;
}
nav .segments-container {
  display: flex;
  flex-flow: row;
}
nav {
  background-color: white;
}
.nav-inner {
  height: 80px;
  width: 100%;
  position: sticky;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 15px;
  border: 1px solid white;
}
.desktop-actions {
  height: 50px;
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

nav .nav-right {
  display: flex;
  flex-flow: row;
  align-items: center;
}

button {
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 544;
  border: 1px solid #be5643;
  box-shadow: 0 1px 2px rgb(15 15 15 / 10%);
  color: white;
  background-color: #e16259;
}
button:hover {
  background-color: #cf534a;
}

.signup-greeting {
  font-size: 50px;
  font-weight: 700;
}

.welcome-container {
  margin: 80px 0;
  display: flex;
  flex-flow: row;
}
.homepage-try-notion {
  margin-top: 20px;
  min-width: 160px;
  font-size: 14px;
}
.trusted-by {
  margin-top: 40px;
}
.homepage-subtitle {
  padding-top: 8px;
}
.welcome-first-half {
  width: 56%;
}
.trusted-by-logos-container {
  display: flex;
  flex-flow: row;
  max-width: 400px;
}
.trusted-by-logo {
  max-width: 114px;
  margin: 10px;
}

.tab-link {
  height: 30px;
  padding-right: 24px;
}
.tab-and-subnav {
  height: 30px;
  width: min-content;
  max-width: 114px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.subnav {
  width: min-content;
  min-width: 180px;
  position: absolute;
  top: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 18px rgb(0 0 0 / 4%),
    0px 2.025px 7.84688px rgb(0 0 0 / 3%), 0px 0.8px 2.925px rgb(0 0 0 / 2%),
    0px 0.175px 1.04062px rgb(0 0 0 / 1%);
  transform: scale(0.97);
  -webkit-transition: ease, -webkit-transform 150ms ease;
  transition: 1000ms ease;
  transform-origin: top left;
  background-color: white;
}
.nav-left,
.nav-right *,
.cta-item {
  display: flex;
  flex-flow: row;
  align-items: center;
}
